services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: resume-analyzer-app
    container_name: resume_app
    restart: unless-stopped
    ports:
      - "8000:80"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_KEY: "${APP_KEY}"
      DB_HOST: mysql
      DB_DATABASE: "${DB_DATABASE}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
    networks:
      - hackathon-net
    depends_on:
      - mysql

  mysql:
    image: 'mysql:8.0'
    container_name: resume_db
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'sail-mysql:/var/lib/mysql'
    networks:
      - hackathon-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
      retries: 3
      timeout: 5s

networks:
  hackathon-net:
    driver: bridge

volumes:
  sail-mysql:
    driver: local